<html>
    <body>
    <link rel="stylesheet" href="styles.css">
    <a href="/">Home</a> <br>
    <a href="/addtask"> Add New Task</a> <br>
    <a href="/deletetask"> Delete Task</a> <br>
    <a href="/deleteall"> Delete All Task</a> <br>
    <a href="/updatetask"> Update Task</a> <br>
    <a href="/nonSamLee"> Sam and Lee</a> <br>
        <table>
            <tr>
                <th>
                    ID |
                </th>
                <th>
                    TaskName |
                </th>
                <th>
                    TaskAssign |
                </th>
                <th>
                    TaskDue |
                </th>
                <th>
                    TaskStatus |
                </th>
                <th>
                    TaskDesc
                </th>
            </tr>
            <% for(let i=0;i < data.length;i++){ %>
            <tr>
                <td>
                    <%= data[i]._id %>
                </td>
                <td>
                    <%= data[i].TaskName %>
                </td>
                <td>
                    <%= data[i].TaskAssign %>
                </td>
                <td>
                    <%= data[i].TaskDue %>
                </td>
                <td>
                    <%= data[i].TaskStatus %>
                </td>
                <td>
                    <%= data[i].TaskDesc %>
                </td>
            </tr>
            <% } %>
        </table>
    </body>
</html>