<html>
<body>
<link rel="stylesheet" href="styles.css">
<a href="/">Home</a> <br>
<form action="/adddeveloper" method=POST>
    First Name <input type="text" name="FirstName"><br>
    Last Name <input type="text" name="LastName"><br>
    Level <select name="Level">
        <option value="Beginner">Beginner</option>
        <option value="Expert">Expert</option>
    </select><br>
    State <input type="text" name="State"><br>
    Suburb<input type="text" name="Suburb"><br>
    Street<input type="text" name="Street"><br>
    Unit<input type="text" name="Unit"><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>