<html>
<body>
<link rel="stylesheet" href="styles.css">
<a href="/">Home</a> <br>
<form action="/addtask" method=POST>
    Task Name <input type="text" name="TaskName"><br>
    Due Date <input type="date" name="TaskDue"><br>
    TaskStatus <select name="TaskStatus">
        <option value="InProgress">InProgress</option>
        <option value="Complete">Complete</option>
    </select><br>
    Task Desc<input type="text" name="TaskDesc"><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>

