<html>
<body>
<h1>
    <link rel="stylesheet" href="styles.css">
    Welcome to customer app
    <img src="unnamed.jpg">
</h1>
<br>
<h3>
    <a href="/addtask"> Add New Task</a> <br>
    <a href="/adddeveloper"> Add New Developer</a> <br>
    <a href="/deletetask"> Delete Task</a> <br>
    <a href="/deleteall"> Delete All Completed Tasks</a> <br>
    <a href="/updatetask"> Update Task</a> <br>
    <a href="/listtask"> List All Tasks</a> <br>
    <a href="/listdeveloper"> List All Developers</a> <br>
</h3>
</body>
</html>
